<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarIngredientes</servlet-name>
        <servlet-class>ListarIngredientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarReceitas</servlet-name>
        <servlet-class>ListarReceitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirIngrediente</servlet-name>
        <servlet-class>IncluirIngrediente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MontaFormIncluirReceita</servlet-name>
        <servlet-class>MontaFormIncluirReceita</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarIngredientes</servlet-name>
        <url-pattern>/ListarIngredientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarReceitas</servlet-name>
        <url-pattern>/ListarReceitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirIngrediente</servlet-name>
        <url-pattern>/IncluirIngrediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MontaFormIncluirReceita</servlet-name>
        <url-pattern>/MontaFormIncluirReceita</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
